.pagination{
  list-style: none;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.page-number.active{
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(30 27 75);
}

.page-number{
  list-style: none;
  color: black;
  height: 25px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 25px;
  font-family: cursive;
}
